<div class="main">
  <h1>Testowa strona wykorzystująca hexagonaljs</h1><br>
  <a href="#" id="show-site-1">Strona 1</a> <a href="#" id="show-site-2">Strona 2</a> <a href="#" id="show-site-3">Strona 3</a> <a href="#" id="show-site-4">Strona 4</a> <a href="#" id="show-site-5">Strona 5 (która nie istnieje)</a>
  <div class="error-box">
  </div>
  <div class="content">
  </div>
</div>

<script type="x-handlebars-template" id="show-site-template">
  <div class="show-site">
    <p>
      <b>Name:</b>
      {{ name }}
    </p>

    <p>
      <b>Content:</b>
      {{ content }}
    </p>
  </div>
</script>

<script>
</script>